.searchBarContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchBar {
  border-radius: 20px;
  height: 2rem;
  width: 20rem;
  padding: 10px;
  font-size: 18px;
}
